extends general

block content
    .container
        .row
            .col-md-8
				article.box.page
				    .container
					    header
					        h2= entry.title
					    .article-publish
                            ul
                                li By
                                    span= post.writer
                                li Posted
                                    span= dateFormat(post.date, 'LL')
					    != entry.body
					    .addthis_sharing_toolbox
				  // Go to www.addthis.com/dashboard to customize your tools
				script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5382b46f7a18e0a7')
            .col-md-4
                .side-bar-right
                    .side-bar-header
                        h3 Recent Post
                    each post in posts.orderBy('date', 'desc').slice(0,10)
                        article.post-article-widget
                            .post-article-widget-img
                                .article-banner
                                    a(href=post.permalink)
                                        img(src= post.banner)
                            .post-article-widget-title
                                .article-title
                                    h4
                                        a(href=post.permalink)= post.title